{% extends "base.html" %}

{% block title %}{{ block.super }} - Login{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<main role="main">
    <header>
        <div class="row v-space-5">
        </div>
        <div class="row v-space-2">
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Autenticazione</h1>
                <p class="lead">
                    Usa il form sottostante per effettuare l'autenticazione.
                </p>
                <hr class="hr-home">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h3 class="display-4 mb-5"><b>Form di Login</b></h3>
                <form class="registration-form p-3" method="post" enctype="multipart/form-data" action="{% url 'login' %}">{% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="username">Username</label>
                            <input class="form-control" name="username" required placeholder="Username" title="Username" type="text" />
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="password">Password</label>
                            <input class="form-control" name="password" required placeholder="Password" title="Password" type="password" />
                        </div>
                    </div>
                    {% if form.errors %}
                    <div class="row justify-content-center">
                        <p class="col-10 text-danger">L'username o la password erano errati. Prova nuovamente.</p>
                    </div>
                    {% endif %}
                    <p class="margin-bottom-15">Password smarrita? <a href="mailto:xxx@email.com" class="color-secondary">Contatta l'amministratore! <span class="oi oi-envelope-closed"></span></a></p>
                    <div class="row justify-content-center">
                        <div class="col-3"><button class="btn btn-primary btn-block" type="submit" value="login">Log In</button></div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row v-space-5">
    </div>
</main>

{% endblock content %}

{% block js %}

{% endblock js %}